/* start global  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    direction: rtl;
    font-family: 'Noto Kufi Arabic', sans-serif;
}

.btn-danger {
    width: fit-content !important;
}

.text-brown {
    color: #663a2a;
}

.text-danger,
.btn-danger {
    background-color: var(--bg-color) !important;
    color: var(--main-color);
}

.text-danger:hover,
.btn-danger:hover {
    background-color: var(--main-color) !important;
    color: #fff;
}

.text-brown:hover,
.title-center:hover {
    color: #af1919;
}

.title-center {
    text-align: center;
    font-weight: 900;
    color: var(--main-color);
    margin: 50px auto;
}

@media (max-width:576px) {
    .title-center {
        margin-bottom: 20px;
    }
}

a {
    text-decoration: none;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fbc8c8;
}

:root {
    --main-color: #663a2a;
    --bg-color: #fbc8c8;
    --transition-all: all .5s ease;
}

/* End global  */

/* start navbar  */
.navbar {
    background-color: var(--bg-color);
    width: 100%;
    position: fixed;
    z-index: 999;
    padding-top: 20px;
}

.navbar .nav-item .nav-link {
    color: #663a2a;
}

.navbar .nav-item .nav-link:hover {
    color: #af1919;
}

.navbar-nav {
    margin: 0 auto;
}

.navbar .navbar-brand h2 {
    transition: var(--transition-all);
}

.navbar .navbar-brand h2:hover {
    transform: scale(1.1);
    color: #af1919;
}

.total {
    color: #fff;
    background-color: var(--main-color);
    border-radius: 50%;
    padding: 0 7px;
    position: absolute;
    top: -16px;
    left: 72px;
}

.icons {
    position: relative;
}

@media(max-width:768px) {
    .total {
        padding: 0px 3px;
        font-size: 12px;
        top: -12px;
        left: 72px;
    }
}

/* End navbar  */

/* start carousel  */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 610px !important;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    color:#af1919;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background-color: var(--main-color);
}

@media (max-width:768px) {
    .swiper-slide img {
        height: 250px !important;
        object-fit: cover;
    }
}

/* End carousel  */

/* start mini sandwitch  */
.mini {
    padding: 50px;
}

.mini-img {
    overflow: hidden;
    max-height: 459px !important;
}

.mini img {
    transition: var(--transition-all);
    vertical-align: middle;
    border-radius: 5px;

}

.mini .mini-img img:hover {
    transform: scale(1.5);
}

.mini-caption {
    padding-top: 15%;
}

.mini-caption p {
    font-size: 15px;
}

@media (max-width:576px) {
    .mini {
        padding: 30px;
    }

    .mini-caption {
        display: none;
    }
}

/* End mini sandwitch  */

/* start menu */
.menu {
    margin: 50px auto;
}

.menu .left,
.menu .right {
    width: 300px;
    height: 200px;
    transition: var(--transition-all);
}

.menu .mid {
    width: 300px;
    height: 416px;
    padding: auto 20px;
    transition: var(--transition-all);
}

.menu .right:hover,
.menu .left:hover,
.menu .mid:hover {
    transform: scale(1.1);
}

@media (max-width:576px) {
    .menu {
        flex-direction: column;
        direction: ltr !important;
    }

    .menu .mid,
    .menu .right,
    .menu .left {
        margin: 10px auto;
        display: block;
    }

    .menu .box {
        margin: 0 !important;
    }
}

/* End menu */
footer {
    background-color: #faf5f2;
}

/* start all-products  */
.all-products .box {
    border: 15px solid white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.418);
}

.all-products .images img {
    width: 100%;
    max-width: 100%;
    transition: var(--transition-all);
}

.all-products .box .images {
    overflow: hidden;
    position: relative;
}

.all-products .box .images:hover img {
    transform: rotate(6deg) scale(1.1);
}

.all-products .box .images::before {
    content: "";
    position: absolute;
    background-color: rgb(255 255 255 / 20%);
    height: 0px;
    width: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
}

.all-products .box .images:hover::before {
    animation: flashing 0.7s;
}


@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

.all-products button {
    transition: var(--transition-all);
    box-shadow: none;
    border: 2px solid var(--bg-color) !important;
    font-size: 20px;
    color: var(--main-color);
    background: linear-gradient(to right, var(--bg-color) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    text-transform: capitalize;
}

.all-products button:hover {
    background-position: left bottom;
    color: white;
    box-shadow: none;
}

@media (max-width:576px) {
    .all-products {
        padding-top: 0 !important;
    }

    .all-products h2 {
        margin-bottom: 30px !important;
    }
}

/* End all-products  */
/* start cart */
.table {
    background-color: #fbc8c84f;
    direction: ltr;
}

.cart-title {
    color: #af1919;
}

.cart-btn {
    font-size: 25px;
    padding: 0px 15px;
}

.cart-btn:nth-of-type(1) {
    font-size: 16px;
    padding: 7px 15px;
}

@media(max-width:576px) {
    .cart-btn {
        font-size: 13px;
        padding: 0px 10px;
    }

    .cart-btn:nth-of-type(1) {
        font-size: 9px;
        padding: 7px 10px;
    }

    .table {
        font-size: 10px;
    }

    td {
        padding: 5px !important;
    }

    .main {
        width: fit-content !important;
    }

}

/* End cart */

/* start register */
.form-input form input:focus {
    border: 1px solid var(--bg-color) !important;
    box-shadow: none;
}

.form-input form input {
    border: 1px solid var(--bg-color) !important;
    color: #af1919 !important;
}

::placeholder {
    color: var(--main-color) !important;
}

.error {
    color: #e74c3c;
    font-size: 14px;
    display: block;
}

.reg-btn {
    background-color: var(--bg-color);
    color: var(--main-color);
    padding: 7px 0px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reg-btn:hover {
    color: #fff;
    background-color: var(--main-color);
}

@media(max-width:768px) {
    .form-input {
        padding-top: 0 !important;
    }

    .form-input form {
        width: 100% !important;
    }
}

/* End register */